<html>
  <head>
    <title>The Gossip Project</title>
</head>
  <body>

      <p>Voici le numéro du gossip :</p>
     <p> <%= @ids.id %></p>
      <p>Voici l'auteur du gossip :</p>
      <p> <%= @ids.username%></p>
      <p> Voici le contenu du gossip :</p>
<p> <%= @ids.bio %></p>  </body>
</html>
